.advanced-table .progress-bar {
  width: 80%;
  min-width: 120px;
  height: 8px;
  background-color: #ebedf2;
  border-radius: 9999px;
  display: flex;
}

.advanced-table .progress-line {
  height: 8px;
  border-radius: 9999px;
}
